.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.game {
    padding: 15px;
    margin-top: 30px;
}

.cells {
    background-color: lightgrey;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.white, .blue, .red{
    border-radius: 100px;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid black;

}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

table {
    margin: 0 auto;
    border-spacing: 0px 0px;

}

.startGame {
    margin-top: 25px;
}

.startGame button{
    margin-left: 5px;
}

button{
    background-color: #303030;
    color: #50C8FF;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
